{% extends 'core/app/index.html' %}

{% block runningjobs_extra %}
      <div class="runningjobs">
        <h3>Running and Scheduled AFT Tests</h3>
        {% if tests.golden %}
          <table class="testslist">
            <thead>
              <tr>
                <th>State</th><th>Id</th><th>Host</th><th>Template</th>
                <th>Start (CET)</th><th>End (CET)</th>
                <th>{{config.cloud}}</th><th>Sites</th><th>subm<br />jobs</th>
                <th>run<br />jobs</th><th>comp<br />jobs</th>
                <th>fail<br />jobs</th>
                <th>tot<br />jobs</th>
              </tr>
           </thead>
           <tbody>
             {% load hc_tags %}
             {% for test in tests.golden %}
               <tr onmouseover="ChangeColor(this, true); this.style.cursor='pointer';"
                   onmouseout="ChangeColor(this, false); this.style.cursor='default';"
                   onclick="DoNav('{% url test-view app test.id %}');">
                 <td class="box-{{ test.state }}">{{ test.state }}</td>
                 <td>{{ test.id }}</td>
                 <td>{{ test.host|hostEntity }}</td>
                 <td>{{ test.template.id }}: {{ test.template.description }}</td>
                 <td>{{ test.starttime|date:"d/M"}}, {{test.starttime|time:"P"}}</td>
                 <td>{{ test.endtime|date:"d/M"}}, {{test.endtime|time:"P"}}</td>
                 <td>{{ test.clouds|trunc:3|safe }}</td>
                 <td style="font-size: 0.8em; padding: 1px; margin: 0;">{{ test.sites|trunc:3|safe }}</td>
                 <td>{{ test.submitted }}</td><td>{{ test.running }}</td>
                 <td>{{ test.completed }}</td><td>{{ test.failed }}</td>
                 <td>{{ test.total }}</td>
               </tr>
             {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p style="margin: 10px;text-align:center;">No entries</p>
      {% endif %}
    </div>
    <br/>
{% endblock %}
