{% extends 'core/app/test/test.html' %}

{% block testlog %}
  <p class='testlog'>
    Input type: {{ test.inputtype }}<br />
    Output DS: user.elmsheus.hc.{{ test.id }}.*<br />
    Input DS Patterns: {% for td in patterns %}{{ td.dspattern.pattern }}{% if not forloop.last %}, {% endif %}{% endfor %}<br />
    Ganga Job Template: {{ test.jobtemplate }}<br />
    Athena User Area: {{ test.usercode }}<br />
    Athena Option file: {{ test.option_file }}<br />
    Template: <a href="{% url template-view app test.template.id %}">{{ test.template.description }}</a>
  </p>
{% endblock %}
