<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Not found.</title>
  </head>
  <body>

    <div style='color:grey;'>
      <p style='text-align:center;'><img src="{{ STATIC_URL }}images/logo.jpg" height='500' width='800'/></p>
      <h1 style='text-align:center;'><a href='{% url "portal-view" %}' style='text-decoration:none;color:grey;'>HammerCloud</a></h1>
      <p style='text-align:center;'><span style="font-size:30px;">{</span> This is embarrasing...</p>
      <p style='text-align:center;'> ...but we could not find what you were looking for. Please, <a href='javascript:history.go(-1)' style='text-decoration:none;color:#20548e;'>go back</a>.<span style="font-size:30px;">}</span>.</p>
    </div>
  </body>
</html>
