<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Oops...</title>
  </head>
  <body>

    <div style='color:grey;'>
      <p style='text-align:center;'><img src="/static/images/logo.jpg" height='500' width='800'/></p>
      <h1 style='text-align:center;'><a href='{% url portal-view %}' style='text-decoration:none;color:grey;'>HammerCloud</a></h1>
      <p style='text-align:center;'><span style="font-size:30px;">{</span> This is embarrasing...</p>
      <p style='text-align:center;'> ...please, help us to improve the user experience <a href="https://its.cern.ch/jira/browse/HC" style="color:#20548e;">here</a>.<span style="font-size:30px;">}</span></p>
    </div>
  </body>
</html>
