{% extends 'core/app/stats/joberrors.html' %}

{% load humanize %}

{% block content %}

<div style="float: left;"><a href="javascript:history.go(-1)">&laquo; Back</a></div><br/>

<h2>Job errors summary</h2>

{% if site_data %}
  <table class="testslist">
    <thead>
      <tr><th>Site</th><th>Total<br />jobs</th><th>Failed<br />jobs</th><th>Efficiency</th></tr>
    </thead>
    <tbody>
      {% for s in site_data %}
        <tr style="background-color: {% if s.finished == 0 %}#CCCCCC{% else %}{% if s.efficiency < 0.8 %}#FF9999{% else %}{% if s.efficiency < 0.95 %}#FFFF99{% else %}#BCED91{% endif %}{% endif %}{% endif %}">
        <td>{{ s.site.name }}</td><td>{{ s.finished|intcomma }}</td><td><a href="{% url failedjobs-view app %}?site={{ s.site.id }}{% for key,value in get_params.items %}&{{ key }}={{ value }}{% endfor %}">{{ s.failed|intcomma }} &raquo;</a></td><td>{{ s.efficiency|floatformat:"3" }}</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No data available.</p>
{% endif %}

{% endblock %}
