{% extends 'core/app/test/test.html' %}

{% block testlog %}
  <p class='testlog'>
    Input type: {{ test.inputtype }}<br />
    Input DS Patterns: {% for td in patterns %}{{ td.dspattern.pattern }}{% if not forloop.last %}, {% endif %}{% endfor %}<br />
    Ganga Job Template: {{ test.jobtemplate }}<br />
    User code: {{ test.usercode }}<br />
    Option file: {{ test.optionfile }}<br />
    Template: <a href="{% url "template-view" app test.template.id %}">{{ test.template.description }}</a><br />
    <a href="http://{{ test.host.name }}/test_{{ test.id }}">Logs</a>
  </p>
{% endblock %}
