<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>

    {% block meta %}
      <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    {% endblock %}

    {% block css %}
      <link type="text/css" href="{{ MEDIA_URL }}css/{{app}}/jquery-ui-1.8.5.custom.css" rel="stylesheet" />
      <link type="text/css" href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" />
      {% if app %}
        <link type="text/css" href="{{ MEDIA_URL }}css/{{app}}/style.css" rel="stylesheet" />
      {% endif %}
    {% endblock %}

    {% block javascript %}
      <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.4.js"></script>
      <script type="text/javascript" src="{{ MEDIA_URL }}js/hm.js"></script>
    {% endblock %}
    {% if help %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.2.custom.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(function() {
        $('#usage').dialog({
          autoOpen: false,
          resizable: false
	});
	$('#help img').click(function() {
          $('#usage').dialog('open');
          return false;
	});
      })
      </script>
      {% endif %}
    <script type="text/javascript">
      $(document).ready(function()
        {  
          {% block docready %}
            $('#jsddm > li').bind('mouseover', jsddm_open);
            $('#jsddm > li').bind('mouseout',  jsddm_timer);
	  {% endblock %} 
        }
        );	
        document.onclick = jsddm_close;
    </script>

    <title>{% block title %}HammerCloud-{{app|upper}}{% endblock %}</title>

  </head>

  <body {% block tag_body %}{% endblock %} >

    <div id="content">

      {% block top %}
        {% if user.is_authenticated %}
    	  <div style="float: right;">
            You are connected as {{ user.username }}, 
            <a style="text-decoration: underline;" href="{% url logout-view %}?next=/hc/app/{{ app }}">click here to Logout!</a>
          </div>
    	{% endif %}

    	<h1 style="margin-bottom: 20px;	text-align: left;">
          <a href="{% url portal-view %}">HammerCloud</a> | <a href="{% url index-view app %}">{{app|upper}}</a>
          <a href="{% url portal-view %}feed/app/{{app}}/"><img src="{{ MEDIA_URL }}images/rss_{{app}}.ico" border="0" alt="rss"/></a>
        </h1>

    	<div style="float: right; color: #ffffff; margin: 7px 10px auto auto;">
          <a style="color: #ffffff;" href="{% url portal-view %}admin/{{ app }}/">Administration</a>
        </div>

    	<div id="menu-top">
          <ul id="jsddm">

            {% block menu %}
              <li><a href="{% url index-view app %}">Home</a></li>
              <li><a href="{% url testlist-view app,'all' %}">Tests</a>
                <ul>
                  <li><a href="{% url testlist-view app,'functional' %}">All functional</a></li>
                  <li><a href="{% url testlist-view app,'stress' %}">All stress</a></li>
                  <li><a href="{% url testlist-view app,'all' %}">All</a></li>
                </ul>
              </li>
              <li><a href="{% url statistics-view app %}">Statistics</a>
                <ul>
                  <li><a href="{% url statistics-view app %}?type=plot">Plots</a></li>
                  <li><a href='{% url statistics-view app %}?type=rank'>Ranks</a></li>
                  <li><a href='{% url statistics-view app %}?type=timeline'>Timelines</a></li>
                </ul>
              </li>
              <li><a href="{% url robot-view app %}">Robot</a>
                <ul>
                  <li><a href='{% url historical-view app %}'>Historical</a></li>
                  <li><a href='{% url autoexclusion-view app %}'>AutoExclusion</a></li>
                  <li><a href='{% url incidents-view app %}'>Incidents</a></li>
                  <li><a href='{% url joberrors-view app %}'>Job errors</a></li>
                </ul> 
              </li>
              <li><a href="{% url more-view app %}">More HC...</a>
                <ul>
                  <li><a href="{% url evolution-view app %}">Evolution</a></li>
                  <li><a href="{% url stats-view app %}">Stats</a></li>
                </ul>
              </li>
            {% endblock %}

          </ul>
        </div>
      {% endblock %}
      {% if help %}
      <div id='help' style="float: right">
	<img src='{{ MEDIA_URL }}images/help.png' />
      </div>
      <div id='usage'>
	<h3>{% block help_title %}{% endblock %}</h3>
	{% block help_text %}{% endblock %}
      </div>
      {% endif %}

      {% block content %}
    	{{app}} content 
      {% endblock %}
    
      {% block bottom %}
        <div id="bottom-bar">
          <div style="text-align: right; color: white; font-size: 0.7em;">
            <a href="https://twiki.cern.ch/twiki/bin/view/IT/HammerCloud" style="color: white;">Help</a> |
            <a href="https://savannah.cern.ch/projects/hammercloud/" style="color: white;">Savannah</a>
          </div>
        </div>
        {% block account %}{% endblock %}
        <div id="social-bar">
          <div style="text-align: left;margin-top:1em;float:left;">
	    <iframe src="//www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=button_count&amp;width=46&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:46px; height:20px;" allowTransparency="true"></iframe>
	    <a href="https://twitter.com/share" class="twitter-share-button" data-via="CERN" data-count="none">Tweet</a>
            <div class="g-plusone" data-size="medium" data-annotation="none"></div>
          </div>
        </div>
    	<p style="text-align: right;">
          <a href="http://validator.w3.org/check?uri=referer"><img
	        src="http://www.w3.org/Icons/valid-xhtml10-blue"
	        alt="Valid XHTML 1.0 Transitional" height="31" width="88" border ="0"/></a>
        </p>
      {% endblock %}

    </div>
    <script type="text/javascript"> 
    var _gaq = _gaq || []; 
    _gaq.push(['_setAccount', 'UA-244374-10']); 
    _gaq.push(['_trackPageview']); 
    (function() { 
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; 
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; 
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); 
        })(); 
    </script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  </body>

</html>
