{% extends 'core/app/base.html' %}

{% block content %}

  <div style="float: left;"><a href="javascript:history.go(-1)">&laquo; Back</a></div><br/>
  {% if metric_permissions %}
    <h2>MetricPermissions ({{ metric_permissions|length }})</h2>
    <table class="list">
    {% for metric_permission in metric_permissions %}
      <tr onmouseover="ChangeBiColor(this, true, {{ forloop.counter }}); this.style.cursor='hand';"
          onmouseout="ChangeBiColor(this, false, 0); this.style.cursor='default';">
        <td>{{ metric_permission.id }}.-</td><td>{{ metric_permission.name }}</td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <h2>MetricPermissions</h2>
    No entries.
  {% endif %}

{% endblock %}
