{% extends 'core/app/base.html' %}

{% block javascript %}
  {{block.super}}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/maps.js"></script>
{% endblock %}

{% block docready %}

  generateTable(false,[{% for site in sites %}['{{site.name}}','{{site.eff}}','{{site.backend.name}}','{{site.cloud.name}}'],{% endfor %}],'Efficiency');

{% endblock %}

{% block content %}

  <div style="float:left;"><a href="javascript:history.go(-1)">&laquo; Back</a></div><br/>


  <h2>Robot</h2>
  {% block robot_links %}{% endblock %}
  <p class="in" onClick="zoomInOut(this,[{% for site in sites %}['{{site.name}}','{{site.eff}}','{{site.backend.name}}','{{site.cloud.name}}'],{% endfor %}],'Efficiency');">( Click to zoom in/out.)</p>

  <div id='grid'>

  <div id='leftbar'>
    {% if clouds %}
    <p>CLOUDS:</p>
    <ul>
      {% comment %}<li class="on" onclick="hideShow(this,'leftbar','ALL');">ALL</li>{% endcomment %}
      {% for cloud in clouds%}
        <li class="on" onclick="hideShow(this,'leftbar','{{cloud.name}}');">{{cloud.name|upper}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  
  <div id='centerbar'>

    <table id="map" class="map" ></table>

  </div>

  <div id='rightbar'>
    {% if backends %}
    <p>BACKENDS:</p>
    <ul>
      {% comment %}<li class="on" onclick="hideShow(this,'rightbar','ALL');">ALL</li>{% endcomment %}
      {% for backend in backends%}
        <li class="on" onclick="hideShow(this,'rightbar','{{backend.name}}');">{{backend.name|capfirst}}</li>
      {% endfor %}
    </ul>
    {% endif %}

  </div>

  <div id='footerbar'>
    <p>LEGEND:</p>
    <table class='map'>
      <tr>
        {% comment %}
        <td class='onall' onclick="hideShow(this,'footerbar','ALL');">
          <span class='map_legend'>
            <h3>ALL</h3>
            <p>Click to hide/show <br/> all sites.</p>
          </span>
        </td>
        {% endcomment %}
        <td class='ongrey' onclick="hideShow(this,'footerbar','grey');">
          <span class='map_legend'>
            <h3>No test.</h3>
            <p>Click to hide/show <br/>sites with no test.</p>
          </span>
        </td>
        <td class='onred' onclick="hideShow(this,'footerbar','red');">
          <span class='map_legend'>
            <h3>... &lt; 80%</h3>
            <p>Click to hide/show <br/>sites with less than<br/>80% efficiency.</p>
          </span>
        </td>
        <td class='onyellow' onclick="hideShow(this,'footerbar','yellow');">
          <span class='map_legend'>
            <h3>80% &lt; ... &lt; 95%</h3>
            <p>Click to hide/show <br/>sites with efficiency<br/>between 80% and 95%.</p>
          </span>
        </td>
        <td class='ongreen' onclick="hideShow(this,'footerbar','green');">
          <span class='map_legend'>
            <h3>95% &lt; ...</h3>
            <p>Click to hide/show <br/>sites with more than<br/>95% efficiency.</p>
          </span>
        </td>
      </tr>
    </table>
  </div>

  </div>

{% endblock %}
