{% extends 'core/app/base.html' %}

{% block meta  %}
  {{block.super}}
  <meta http-equiv="Content-type" content="application/xhtml+xml; charset=UTF-8" />
{% endblock  %}

{% block css %}
  <link type="text/css" href="{{MEDIA_URL}}css/datatables.css" rel="stylesheet"/>
  <link type="text/css" href="{{ MEDIA_URL }}css/TableTools.css" rel="stylesheet"/>
  {{block.super}}
{% endblock %}

{% block javascript %}
  {{block.super}}
  <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/TableTools.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/ZeroClipboard.js"></script>
  <script type="text/javascript">
    TableToolsInit.sSwfPath="http://hammercloud.cern.ch/dev/media/swf/ZeroClipboard.swf";
    $(document).ready(function() {
      $('#robotlist_table').dataTable({
        "sPaginationType": 'full_numbers',
        "bServerSide": true,
        "sAjaxSource": "{% url get_list-view app,'robotlist',0 %}",
        "aaSorting" : [[ 5, "desc" ]],
        "aoColumns":[
          null,null,null,null,null,null,null,null,
        ],
        "sDom": 'T<"clear">lfrtip',
        "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
          if (aData[4] == '--'){
            $(nRow).addClass('grey');
           }else if (aData[4] < 0.8 ){
            $(nRow).addClass('red');
          }else if ( aData[4] < 0.95 ){
            $(nRow).addClass('yellow');
          }else{
            $(nRow).addClass('green');
          }
          return nRow;
        }

    });
  });
  </script>
{% endblock %}

{% block content %}

  <div style="float:left;"><a href="javascript:history.go(-1)">&laquo; Back</a></div><br/>

  <h2>Robot for {{day}}</h2>

  <ul class='map_options'>
    <li onClick="DoNav('{% url robot-view app %}');">&laquo; Back to map</li>
  </ul>

  <div id='usage'>
    <h3>USAGE of the SEARCH field.</h3>
    <p>
    1.- Put your mouse over the table column title. It a ballon appears with a code, you can search that field.<br>
    2.- Remember the code.<br>
    3.- Also the type of value to be introduced.<br>
    4.- Actions allowed are ':', '>', '<'. Use '&' to join actions.<br>
    &nbsp;&nbsp;&nbsp;':' &raquo; codeX:value_desiredX<br>
    &nbsp;&nbsp;&nbsp;'>' &raquo; codeY>value_desiredY<br>
    &nbsp;&nbsp;&nbsp;'&lt;' &raquo; codeZ&lt;value_desiredZ<br>
    &nbsp;&nbsp;&nbsp;'&' &raquo; codeX:value_desiredX&codeY&lt;value_desiredY<br>
    </p>

  </div>

  <table cellpadding="0" cellspacing="0" border="0" class="display" id="robotlist_table">
    <thead>
      <tr>
        <th>Site&nbsp;<span>code: site<br>value: &lt;string&gt;</span></th>
        <th>Completed&nbsp;&nbsp;<span>code: completed<br>value: &lt;int&gt;</span></th>
        <th>Failed&nbsp;&nbsp;<span>code: failed<br>value: &lt;int&gt;</span></th>
        <th>Total&nbsp;&nbsp;<span>code: total<br>value: &lt;int&gt;</span></th>
        <th>Efficiency<span>code: efficiency<br>value: &lt;float&gt;</span></th>
        <th>Efficiency(norm)<span>code: efficiencyNorm<br>value: &lt;float&gt;</span></th>
        <th>Error rate<span>code: errorrate<br>value: &lt;float&gt;</span></th>
        <th>Error rate(norm)<span>code: errorrateNorm<br>value: &lt;float&gt;</span></th>
      </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
      <tr>
        <th>Site&nbsp;<span>test Site name<br/>>site:value</span></th>
        <th>Completed&nbsp;&nbsp;</th>
        <th>Failed&nbsp;&nbsp;</th>
        <th>Total&nbsp;&nbsp;</th>
        <th>Efficciency</th>
        <th>Efficciency(norm)</th>
        <th>Error rate</th>
        <th>Error rate(norm)</th>
      </tr>
    </tfoot>
  </table>
    



{% endblock %}
