<div id="accordionsites">

  <h3><a href="#">Overall.</a></h3>
    <div class="test-accordion">
      {% for tm in test.overall %}
        {% if tm.metric.url %}<img src="{{ tm.metric.url }}" alt="{{ tm.metric.metric_type.type }} at ALL" width="270px" />{% endif %}  
      {% endfor %}
    </div> 

  {% for site in test.perSite %}
    <h3><a href="#">{{ site.name }}</a></h3>
      <div class="test-accordion">
        {% for sm in site.metrics %}
          {% if sm.metric.url %}<img src="{{ sm.metric.url }}" alt="{{ sm.metric.metric_type.type }} at {{ site.name }}" width="270px" />{% endif %}
        {% endfor %}
      </div>
  {% endfor %}

  {% if not test.overall and not test.perMetric %}
    <h3>Metrics not available.</h3>
  {% endif %}

</div>

<script type="text/javascript">
  $("#accordionsites").accordion({autoHeight: false });
</script>
