<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
  <link type="text/css" href="{{MEDIA_URL}}css/portal/style.css" rel="stylesheet" />
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/hm.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#atlas-popover').hide();
    });
  </script>
  <title>HammerCloud</title>
</head>

<body>
  <div id="content">

  {% if apps %}
    <table>
      {% for app in apps %}
        {% if 'atlas' in app %}
        <tr onmouseover="ChangeBiColor(this, true, {{ forloop.counter }}); this.style.cursor='hand';"
            onmouseout="ChangeBiColor(this, false, 0); this.style.cursor='default';">
         <td id="{{app}}">{{app}}</td></tr>
        <tr id="atlas-popover"><td>
          <a href="/atlas">Go to v2 (current)</a> - <a href="/hc/app/atlas">Go to v4 (next)</a>
        </td></tr>
        {% else %}
        <tr onmouseover="ChangeBiColor(this, true, {{ forloop.counter }}); this.style.cursor='hand';"
            onmouseout="ChangeBiColor(this, false, 0); this.style.cursor='default';"
            onclick="DoNav('{% url index-view app %}');">
         <td id="{{app}}">{{app}}</td>
        </tr>
        {% endif %}
      {% endfor %}
    </table>
  {% else %}
    <p>No apps.</p>
  {% endif %}

  <h1>HammerCloud v4.2<a href="{% url portal-view %}feed/"><img src="{{ MEDIA_URL }}images/rss_grey.ico" border="0" alt="rss"/></a></h1>
</div>

 <script type="text/javascript">
    $('#atlas').click(function() {
      $('#atlas-popover').toggle('fast');
    });
  </script>
</body>

</html>

