{% extends 'core/app/base.html' %}

{% block title %}{{block.super}} | AutoExclusion{% endblock %}

{% block content %}

  <div style="float: left;"><a href="javascript:history.go(-1)">&lt;&lt; Back</a></div>

  <h2>HC AutoExclusion Service Status</h2>

  {% if message %}

    <p>{{message}}</p>

  {% else %}

    {% block autoexclusion_info %}
    <table cellspacing="10">

    {% if site_options %}
      {% for so in site_options %}
        <tr>
          <td>{{ so.site.name }}</td><td>{{ so.option_value }}</td>
        </tr>
      {% endfor %}
    {% else %}
      No entries.
    {% endif %}

    </table>
    {% endblock %}

  {% endif %}

{% endblock %}

