{% extends config.base_template %}

{% block title %}{{block.super}} | Autoexclusion control{% endblock %}

{% block content %}

<h2>Autoexclusion control for {{ app|upper }}</h2>

<p>This form allows to toggle the global status of the HammerCloud autoexclusion feature manually. There are cases in which HammerCloud autoexclusion will autoshutdown (for instance, in the case of a central service failure or a HammerCloud downtime).</p>

<p>The current status of the system is: <span style="color: {{ autoexclusion.color }}; font-weight: bold; font-size: 120%;">{{ autoexclusion.status|upper }}</span><br />
Last blacklisting was: {{ autoexclusion.last_site }} ({{ autoexclusion.last_timestamp }})<br />
Last change of autoexclusion configuration: {{ autoexclusion.last_pass }}</p>

<p>To change the autoexclusion status, please use the toggle below. Please not that the following actions will be taken:</p>
<ol>
  <li>The autoexclusion functionality will be {{ autoexclusion.action }}d.</li>
  <li>An alarm will be raised to the corresponding shifters, experts and HammerCloud administrators.</li>
  <li>The change, along with your credentials, will be logged.</li>
</ol>

<p style="font-weight: bold;font-size:150%;"><a href="{{ action_url }}">{{ autoexclusion.action|upper }}</a></p>

{% endblock %}
