{% extends config.base_template %}

{% block javascript %}
  {{block.super}}
  <script type="text/javascript" src="{{ STATIC_URL }}js/maps.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
  <script type="text/javascript">
    $(function() {
      $("#day").datepicker({
        changeMonth: true,
        changeYear: true,
        showOn: 'button',
        buttonImage: '{{ STATIC_URL }}images/icon_calendar.gif',
        buttonImageOnly: true,
        dateFormat : 'yy-mm-dd',
        onSelect: function(dateText, inst){$('#robot_form')[0].submit()}
      });
    });
  </script>
{% endblock %}

{% block docready %}
  {{block.super}}
  generateTable(false,[{% for site in sites %}['{{site.name}}','{{site.eff|floatformat:3}}','{{site.backend.name}}','{{site.cloud.name}}','{% url robotsite-view app, site.id %}'],{% endfor %}],'Efficiency');
{% endblock %}

{% block content %}

  <div style="float:left;"><a href="javascript:history.go(-1)">&laquo; Back</a></div><br/>

  <h2>
    Robot for {{day|date:'M d, Y'}}
    <form id="robot_form" method="GET" action="{% url robot-view app%}">
      <input type="hidden" id="day" name="day"/>
    </form>
  </h2>
  {% block robot_links %}{% endblock %}
  <ul class='map_options'>
    <li class="in" onClick="zoomInOut(this,[{% for site in sites %}['{{site.name}}','{{site.eff|floatformat:3}}','{{site.backend.name}}','{{site.cloud.name}}','{% url robotsite-view app, site.id %}'],{% endfor %}],'Efficiency');"><span style='font-size:16px;'>Z</span><i>oo</i><span style='font-size:16px;'>M</span> IN&OUT</li>
    <li> -- </li>
    <li onClick="DoNav('{% url robotlist-view app %}');">S<i>W</i>IT<i>C</i>H to list</li>
    <li> -- </li>
    <li onClick="DoNav('{% url robotstats-view app %}');">S<i>W</i>IT<i>C</i>H to statistics</li>
    <li> -- </li>
    <li onClick="DoNav('{% url robotjobs-view app %}');">S<i>W</i>IT<i>C</i>H to jobs</li>
  </ul>

  <div id='grid'>

  <div id='leftbar'>
    {% if clouds %}
    <p>{{config.cloud|upper}}S:</p>
    <ul>
      {% comment %}<li class="on" onclick="hideShow(this,'leftbar','ALL');">ALL</li>{% endcomment %}
      {% for cloud in clouds%}
        <li class="on" onclick="hideShow(this,'leftbar','{{cloud.name}}');">{{cloud.name|upper}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  
  <div id='centerbar'>

    <table id="map" class="map" ></table>

  </div>

  <div id='rightbar'>
    {% if backends %}
    <p>BACKENDS:</p>
    <ul>
      {% comment %}<li class="on" onclick="hideShow(this,'rightbar','ALL');">ALL</li>{% endcomment %}
      {% for backend in backends%}
        <li class="on" onclick="hideShow(this,'rightbar','{{backend.name}}');">{{backend.name|capfirst}}</li>
      {% endfor %}
    </ul>
    {% endif %}

  </div>

  <div id='footerbar'>
    <p>LEGEND:</p>
    <table class='map'>
      <tr>
        {% comment %}
        <td class='onall' onclick="hideShow(this,'footerbar','ALL');">
          <span class='map_legend'>
            <h3>ALL</h3>
            <p>Click to hide/show <br/> all sites.</p>
          </span>
        </td>
        {% endcomment %}
        <td class='ongrey' onclick="hideShow(this,'footerbar','grey');">
          <span class='map_legend'>
            <h3>No test.</h3>
            <p>Click to hide/show <br/>sites with no test.</p>
          </span>
        </td>
        <td class='onblue' onclick="hideShow(this,'footerbar','blue');">
          <span class='map_legend'>
            <h3>No concluded jobs.</h3>
            <p>Click to hide/show <br/> all sites.</p>
          </span>
        </td>
        <td class='onred' onclick="hideShow(this,'footerbar','red');">
          <span class='map_legend'>
            <h3>... &lt; 80%</h3>
            <p>Click to hide/show <br/>sites with less than<br/>80% efficiency.</p>
          </span>
        </td>
        <td class='onyellow' onclick="hideShow(this,'footerbar','yellow');">
          <span class='map_legend'>
            <h3>80% &lt; ... &lt; 95%</h3>
            <p>Click to hide/show <br/>sites with efficiency<br/>between 80% and 95%.</p>
          </span>
        </td>
        <td class='ongreen' onclick="hideShow(this,'footerbar','green');">
          <span class='map_legend'>
            <h3>95% &lt; ...</h3>
            <p>Click to hide/show <br/>sites with more than<br/>95% efficiency.</p>
          </span>
        </td>
      </tr>
    </table>
  </div>

  </div>

{% endblock %}
