{% extends config.base_template %}

{% block javascript %}
  {{block.super}}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
  <script type="text/javascript">
    $(function() {
      $("#day").datepicker({
        changeMonth: true,
        changeYear: true,
        showOn: 'button',
        buttonImage: '{{ STATIC_URL }}images/icon_calendar.gif',
        buttonImageOnly: true,
        dateFormat : 'yy-mm-dd',
        onSelect: function(dateText, inst){$('#robot_form')[0].submit()}
      });
    });
  </script>
{% endblock %}

{% block content %}

  <div style="float:left;"><a href="javascript:history.go(-1)">&laquo; Back</a></div><br/>

  <div id='standard'>

  <h2>
    Robot at {{site.name}} for {{day|date:'M d, Y'}}
    <form id="robot_form" method="GET" action="{% url robotsite-view app, site.id %}">
      <input type="hidden" id="day" name="day"/>
    </form>
  </h2>

  {% if summary.efficiency > -1 %}

    <p class='robot_legend'>
      <b>Efficiency      :</b> completed/(completed+failed)<br>
      <b>Efficiency(norm):</b> efficiency*completed<br>
      <b>Error rate      :</b> failed/(completed+failed)<br>
      <b>Error rate(norm):</b> error_rate*failed<br>
    </p>

    <br><br>
 
    <table class='centered'>
      <tr><th>Completed        : </th><td>{{summary.completed}}</td></tr>
      <tr><th>Failed           : </th><td>{{summary.failed}}</td></tr>
      <tr><th>Total            : </th><td>{{summary.total}}</td></tr>
      <tr><th>Efficiency       : </th><td>{{summary.efficiency|floatformat:2}}</td></tr>
      <tr><th>Efficiency(norm) : </th><td>{{summary.efficiencyNorm|floatformat:2}}</td></tr>
      <tr><th>Error rate       : </th><td>{{summary.errorrate|floatformat:2}}</td></tr>
      <tr><th>Error rate(norm) : </th><td>{{summary.errorrateNorm|floatformat:2}}</td></tr>
    </table>

  {% endif %}
  {% if summary.efficiency == -1 %}

    <p class='robot_legend'>No tests at this site {{yesterday}}.</p>

  {% endif %}

  </div>

{% endblock %}
