{% extends config.base_template %}

{% block javascript %}
  {{block.super}}
  <link type=​"text/​css" href=​"{{ MEDIA_URL }}​css/​atlas/​style.css" rel=​"stylesheet" />​
  <script type="text/javascript" src="{{ MEDIA_URL }}js/atlas/maps.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.2.custom.min.js"></script>
  <script type="text/javascript">
    $(function() {
      $("#day").datepicker({
        changeMonth: true,
        changeYear: true,
        showOn: 'button',
        buttonImage: '{{ MEDIA_URL }}images/icon_calendar.gif',
        buttonImageOnly: true,
        dateFormat : 'yy-mm-dd',
        onSelect: function(dateText, inst){$('#robot_form')[0].submit()}
      });
    });
  </script>
{% endblock %}

{% block docready %}
  {{block.super}}
  {% for backend in backends %}
    {% if backend.name == 'PanDA' %}
    generateTablesBackend({ {% for cloud in clouds %}'{{cloud.name}}':[{% for site in sites %}{% if site.cloud_id == cloud.id and site.backend_id == backend.id and 'PROD' not in cloud.name %}['{{site.name}}', '{{site.eff}}', '{% if site.monitoring_link %}{{ site.monitoring_link }}{% else %}{% url robotsite-view app, site.id %}{% endif %}'],{% endif %}{% endfor %}],{% endfor %} }, 'Efficiency', 'PanDA-Analysis');
    generateTablesBackend({ {% for cloud in clouds %}'{{cloud.name}}':[{% for site in sites %}{% if site.cloud_id == cloud.id and site.backend_id == backend.id and 'PROD' in cloud.name %}['{{site.name}}', '{{site.eff}}', '{% if site.monitoring_link %}{{ site.monitoring_link }}{% else %}{% url robotsite-view app, site.id %}{% endif %}'],{% endif %}{% endfor %}],{% endfor %} }, 'Efficiency', 'PanDA-Production');
    {% else %}
    generateTablesBackend({ {% for cloud in clouds %}'{{cloud.name}}':[{% for site in sites %}{% if site.cloud_id == cloud.id and site.backend_id == backend.id %}['{{site.name}}', '{{site.eff}}', '{% if site.monitoring_link %}{{ site.monitoring_link }}{% else %}{% url robotsite-view app, site.id %}{% endif %}'],{% endif %}{% endfor %}],{% endfor %} }, 'Efficiency', '{{backend.name|capfirst}}');
    {%endif %}
  {% endfor%}
{% endblock %}

{% block content %}

  <div style="float:left;"><a href="javascript:history.go(-1)">&laquo; Back</a></div><br/>
  <h2>
    Robot for {{day|date:'M d, Y'}}
    <form id="robot_form" method="GET" action="{% url robot-view app%}">
      <input type="hidden" id="day" name="day"/>
    </form>
  </h2>
  {% block robot_links %}{% endblock %}
  <ul class='map_options'>
    <li onClick="DoNav('{% url robotlist-view app %}');">S<i>W</i>IT<i>C</i>H to list</li>
    <li> -- </li>
    <li onClick="DoNav('{% url robotstats-view app %}');">S<i>W</i>IT<i>C</i>H to statistics</li>
    <li> -- </li>
    <li onClick="DoNav('{% url robotjobs-view app %}');">S<i>W</i>IT<i>C</i>H to jobs</li>
  </ul>
  {% if backends %}
    Switch backend:
    <ul class='map_options'>
      {% for backend in backends%}
      {% if backend.name == 'PanDA' %}
        <li><a href="#bPanDA-Analysis">PanDA-Analysis</a></li>
        <li><a href="#bPanDA-Production">PanDA-Production</a></li>
      {% else %}
        <li><a href="#b{{backend.name}}">{{backend.name|capfirst}}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}

  <div id='grid'>

  <div id='atlasrobot'></div>

  </div>

{% endblock %}
