{% extends 'core/app/base.html' %}

{% load humanize %}

{% block content %}

<div style="float: left;"><a href="javascript:history.go(-1)">&laquo; Back</a></div><br/>

<h2>Application failed jobs summary</h2>

{% if site_data %}
  <table class="testslist">
    <thead>
      <tr><th>Failed job<br />count</th><th>Exit status</th></tr>
    </thead>
    <tbody>
      {% for s in site_data %}
        <tr>
        {%for i in s.values %}<td>{{ i }}</td>{% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No data available.</p>
{% endif %}

{% endblock %}
