{% extends config.base_template %}

{% load humanize %}

{% block content %}

<div style="float: left;"><a href="javascript:history.go(-1)">&laquo; Back</a></div><br/>

<h2>Job errors summary</h2>

<form method="get" name="Form" action="">
  <label>Select Site:
    <select name="site" onchange="document.forms['Form'].submit()">
      <option value="">Overall</option>
      <option value="" selected="selected">---</option>
      {% for s in sites_list %}
      <option value="{{ s.id }}">{{ s.name }}</option>
      {% endfor %}
  </select></label>
  <label>Select {{ config.cloud }}s:
    <select name="cloud" onchange="document.forms['Form'].submit()">
      <option value="">Overall</option>
      <option value="" selected="selected">---</option>
      {% for s in clouds_list %}
      <option value="{{ s.id }}">{{ s.name }}</option>
      {% endfor %}
  </select></label>
  <label>Test ID:
    <input type="text" name="test"{% if tests %}value="{{ tests.0 }}"{% endif %} />
  </label>
  <label>Template ID:
    <input type="text" name="template"{% if templates %}value="{{ templates.0 }}"{% endif %} />
  </label>
  <label>Start time:
    <input type="text" name="start_date"{% if start_date %}value="{{ start_date }}"{% endif %} />
  </label>
  <label>End time:
    <input type="text" name="end_date"{% if end_date %}value="{{ end_date }}"{% endif %} />
  </label>
  <input type="submit" value="Refresh" />
</form>

{% if site_data %}
  <table class="testslist">
    <thead>
      <tr><th>Site</th><th>Completed<br />jobs</th><th>Application failed<br />jobs</th><th>Grid failed<br />jobs</th><th>Efficiency</th></tr>
    </thead>
    <tbody>
      {% for s in site_data %}
        <tr style="background-color: {% if s.total == 0 %}#CCCCCC{% else %}{% if s.efficiency < 0.8 %}#FF9999{% else %}{% if s.efficiency < 0.95 %}#FFFF99{% else %}#BCED91{% endif %}{% endif %}{% endif %}">
        <td>{{ s.site.name }}</td><td>{{ s.finished|intcomma }}</td><td><a href="{% url abortedjobs-view app %}?site={{ s.site.id }}{% for key,value in get_params.items %}&{{ key }}={{ value }}{% endfor %}">{{ s.aborted|intcomma }} &raquo;</a></td><td><a href="{% url failedjobs-view app %}?site={{ s.site.id }}{% for key,value in get_params.items %}&{{ key }}={{ value }}{% endfor %}">{{ s.failed|intcomma }} &raquo;</a></td><td>{{ s.efficiency|floatformat:"3" }}</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No data available.</p>
{% endif %}

{% endblock %}
