{% extends 'core/app/base.html' %}

{% block css %}

  {{block.super}}
  <link type="text/css" href="{{ MEDIA_URL }}css/jquery.multiselect.new.css" rel="stylesheet" /> 
  <link type="text/css" href="{{ MEDIA_URL }}css/jquery.multiselect.filter.css" rel="stylesheet" />

{% endblock %}

{% block javascript %}

  {{block.super}}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.5.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.2.custom.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.multiselect.new.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.multiselect.filter.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cookie.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.collapse.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/json2.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/dumbFormState-1.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/time_dialog.js"></script>


  <script type="text/javascript">
    // increase the default animation speed to exaggerate the effect
    $.fx.speeds._default = 1000;
    $(function() {
      $('#start_dialog').dialog({
        autoOpen: false,
        resizable: false,
        width: 150
      });
      $('#starttime_img').click(function(e) {
        $("#start_dialog").dialog('option','position',[e.pageX,e.pageY]);
        $('#start_dialog').dialog('open');
          return false;
      });
      $('#end_dialog').dialog({
        autoOpen: false,
        resizable: false,
        width: 150
      });
      $('#endtime_img').click(function(e) {
        $("#end_dialog").dialog('option','position',[e.pageX,e.pageY]);
        $('#end_dialog').dialog('open');
          return false;
      });
    });
  </script>

  <script type="text/javascript">
    $(function() {
      $("#from").datepicker({
        changeMonth: true,
        changeYear: true,
        showOn: 'button',
        buttonImage: '{{ MEDIA_URL }}images/icon_calendar.gif',
        buttonImageOnly: true,
        dateFormat : 'yy-mm-dd'
      });
      $("#to").datepicker({
        changeMonth: true,
        changeYear: true,
        showOn: 'button',
        buttonImage: '{{ MEDIA_URL }}images/icon_calendar.gif',
        buttonImageOnly: true,
        dateFormat : 'yy-mm-dd'
      });
      $("input:submit", "#sec_list").button();
    });
  </script>


  <script type='text/javascript' src="{{ MEDIA_URL }}js/AC_OETags.js" language="javascript"></script>
  <script>document.documentElement.className = "js";</script> 

  {% ifequal type 'timeline' %}

  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type='text/javascript'>
    google.load('visualization', '1', {packages: ['annotatedtimeline']});
    google.setOnLoadCallback(drawChart);

    var chart     = new Array();
    var showed    = new Array();
    var tmpToShow = new Array();
    var tmpToHide = new Array();
    var data      = new Array();

    function drawChart(){
      data[1] = new google.visualization.DataTable();

      var colors_chart = ['#6A9AC8','#E604FC','#34C348','#FF1A00','#FFFF88','#D9ED39','#FF0084','#C45FFE','#4D3032','#779BFD','#E87DB7','#5E7288','#A80E0B','#70A06E','#E4BD48','#F56D21','#EB86B8','#B8A02F','#000000','#36393D','#AFCEDE','#ADBC73','#3C9ABF','#646A9C'];

      //Columns definition
      data[1].addColumn('date', 'Date');
      {% for title in titles %}
        data[1].addColumn('number','{{title}}');
      {% endfor %}

      //Rows definition
      data[1].addRows({{statistics|length}});

      //Data addition
      {% for date,values in statistics %}
        data[1].setValue({{ forloop.counter0 }},0,new Date({{ date.year }},{{ date.month|add:'-1' }},{{ date.day }},{{ date.hour }},{{ date.minute }},{{ date.second }}));     
        {% for value in values %}
          {% if value and value > -1 %}
            data[1].setValue({{ forloop.parentloop.counter0 }},{{forloop.counter}},{{value}});
          {% endif %}
        {% endfor %}
      {% endfor %}

      chart[1] = new google.visualization.AnnotatedTimeLine(document.getElementById('visualization'));   

      chart[1].draw(data[1], {
       'colors': colors_chart, 
       'displayAnnotations': false,
       'fill': 30, 
       'legendPosition': 'newRow', 
       'min':  0, 
       'scaleType': 'maximize', 
       'thickness': 2, 
      });

      var end = new Date();
      var start = new Date();
      start.setDate(start.getDate()-5);
      chart[1].setVisibleChartRange(start,end);

      var toHide = new Array()
      {% for t in titles %}
        {% if not 'Overall' in t %}
          toHide[{{forloop.counter0}}] = [{{forloop.counter0}}];
        {% endif %}
          showed[1] = showed[1] {% if 'Overall' in t%}+[{{forloop.counter0}}]{% endif %};
      {% endfor %}

      chart[1].hideDataColumns(toHide);    

      $(function() {
        $("#chart_series").selectable({
          start: function(event, ui) { tmpToShow[1] = new Array(); tmpToHide[1] = new Array() },
          selected: function(event, ui) { tmpToShow[1].push(ui.selected.id) },
          unselected: function(event, ui) { tmpToHide[1].push(ui.unselected.id) },
          stop: function(event, ui) { updateSeries(1,tmpToHide[1],tmpToShow[1]); }
        });
      });

    }    
  </script>
  <script type='text/javascript'>

  </script>

  {% endifequal %}

{% endblock %}

{% block docready %}

  {{block.super}}
  $("select.multi_metric_type").multiselect({ noneSelectedText:'Metrics to show', shadow:true, minWidth:300, selectedList: 3});
  $("select.multi_site").multiselect({ noneSelectedText:'Filter by site', shadow:true, minWidth:300, selectedList: 3});
  $("select.multi_cloud").multiselect({ noneSelectedText:'Filter by cloud', shadow:true, minWidth:300, selectedList: 3});
  $("select.multi_test").multiselect({ noneSelectedText:'Filter by test', shadow:true, minWidth:300, selectedList: 3});
  $("select.multi_template").multiselect({ noneSelectedText:'Filter by template',shadow:true, minWidth:300, selectedList: 3});
  $("select.sort_by").multiselect({ noneSelectedText:'Sort by' ,multiple: false, showHeader: false,
    selectedText: function(numChecked, numTotal, checkedItem){return $(checkedItem).attr("title");},
    click: function(event, ui){
      if (ui.value == 'site') {
        $("select.multi_cloud").multiselect('disable');
      } else {
        $("select.multi_cloud").multiselect('enable');
      }
   }, minWidth:300, selectedList: 3});
  $("select.type").multiselect({ noneSelectedText:'Output type' ,multiple: false, showHeader: false,
    selectedText: function(numChecked, numTotal, checkedItem){return $(checkedItem).attr("title");},
    minWidth:300, selectedList: 3});
  
  if ($("select.sort_by").multiselect('getChecked').attr('value') == 'site') {
        $("select.multi_cloud").multiselect('disable');
  }
  
  $("select.multi_site").multiselect('refresh');
  $("select.multi_cloud").multiselect('refresh');
  $("select.multi_template").multiselect('refresh');
  $("select.multi_test").multiselect('refresh');
  
  $("#datebox").collapse({
      show: function(){
        this.animate({
          opacity: 'toggle', 
          height: 'toggle'
        }, 300);
      },
      hide : function() {
        this.animate({
          opacity: 'toggle', 
          height: 'toggle'
        }, 300);
      },
      head: "h3"
    });

  $(function(){
    $('form').dumbFormState();
  });
  
  $('.stats_tips').hide();
  show_help = false;
  $('a#show_help').click(function(){
    if (show_help) {
        $('.stats_tips').hide('slow');
        $('a#show_help').text('Show help'); 
    } else {
        $('.stats_tips').show('slow');
        $('a#show_help').text('Hide help') 
    }
    show_help = !show_help;
   });

{% endblock %}

{% block content %}

  <div style="float:left;"><a href="javascript:history.go(-1)">&laquo; Back</a></div><br/>

  <h2>Statistics</h2>{% load hc_tags %}

  <div id="section">

    {% if error %}
      <div id="sec_error">
        {{error}} <a href="javascript:history.go(-1)">Back &raquo;</a>
      </div>
    {% endif %}

    {% if not error %}

      {% if dialog %}
      <div id="sec_list">
        <a id="show_help" title="button">Show help</a>
        <form method="post" action="{% url statistics-view app%}">
          {% csrf_token %}

          <h3>Basic configuration</h3>
          <p class="stats_tips">Select the data you want to show in the query. All fields on this category are required.</p>
          <select class="type" multiple="multiple" name="type" size="3">
            <option value='plot' {% ifequal type 'plot' %}selected='selected'{% endifequal %}>Plot</option>
            <option value='rank' {% ifequal type 'rank' %}selected='selected'{% endifequal %}>Rank</option>
            <option value='timeline' {% ifequal type 'timeline' %}selected='selected'{% endifequal %}>Timeline</option>
          </select>
          
          {% for key,list in dialog %}
            {% if key == 'metric_type' %}
            <select class="multi_{{ key }}" multiple="multiple" name="{{ key }}" size="5">
              {% for item in list %}
                {% if key != 'site' %}
                  <option value='{{item.id}}' {% if item.selected %}selected='selected'{% endif %}>
                    {% if key == 'metric_type' %}
                      {{ item.title|chop:20 }}
                    {% endif %}
                    {% if key == 'cloud' %}
                      {{ item.name|chop:20 }}
                    {% endif %}
                    {% if key == 'test' %}
                      Test {{ item.id }}
                    {% endif %}
                    {% if key == 'template' %}
                      {{ item.description|chop:20 }}
                    {% endif %}
                  </option>
                {% endif %}
              {% endfor %}
              {% endif %}
            </select>
          {% endfor %}
          
          <select class="sort_by" multiple="multiple" name="sort_by" size="4">
            <option value='cloud' {% ifequal sort_by 'cloud' %}selected='selected'{% endifequal %}>cloud</option>
            <option value='site' {% ifequal sort_by 'site' %}selected='selected'{% endifequal %}>site</option>
            <option value='test' {% ifequal sort_by 'test' %}selected='selected'{% endifequal %}>test</option>
            <option value='template' {% ifequal sort_by 'template' %}selected='selected'{% endifequal %}>template</option>
            <!--option value='metric' {% ifequal sort_by 'metric' %}selected='selected'{% endifequal %}>metric</option-->
          </select>

          <h3 id='toggle'>Data output filtering</h3>
          <p class="stats_tips">Depending on the configuration of the query, you should select over which field you want to filter the results. For the majority of cases, this matches with the 'Sort by' option, but also you can apply filter over other parameters. Please select at least a filter over the field used to sort.</p>
          {% for key,list in dialog %}
            {% if key != 'metric_type' %}
            <select class="multi_{{ key }}" multiple="multiple" name="{{ key }}" size="5">
              {% for item in list %}
                {% if key == 'site' %}
                  <optgroup label="{{ item.name }}">
                  {% for site in item.sites %}
                    <option value='{{ site.id }}' {% if site.selected %}selected='selected'{% endif %}>{{ site.name|chop:20 }}</option>
                  {% endfor %}
                  </optgroup>
                {% endif %}
                {% if key != 'site' %}
                  <option value='{{item.id}}' {% if item.selected %}selected='selected'{% endif %}>
                    {% if key == 'metric_type' %}
                      {{ item.title|chop:20 }}
                    {% endif %}
                    {% if key == 'cloud' %}
                      {{ item.name|chop:20 }}
                    {% endif %}
                    {% if key == 'test' %}
                      Test {{ item.id }}
                    {% endif %}
                    {% if key == 'template' %}
                      {{ item.description|chop:20 }}
                    {% endif %}
                  </option>
                {% endif %}
              {% endfor %}
            </select><br/>
          {% endif %}
          {% endfor %}

          <div id="datebox">
          <h3>Advanced search</h3>
          <div>
          <p class="stats_tips">Advanced search allows you to set more specific options.</p>
          <input type="text" id="from" name="from" value="From" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" />
          <input type="text" id="starttime" name="starttime" value="Starttime" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" /><img id='starttime_img' src="{{ MEDIA_URL }}images/icon_clock.gif" alt="starttime"/>
          <input type="text" id="to" name="to" value="To" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" />
          <input type="text" id="endtime" name="endtime" value="Endtime" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" /><img id="endtime_img" src="{{ MEDIA_URL }}images/icon_clock.gif" alt="endtime"/>
          </div>
          </div>

          <div id="start_dialog" class='dialog' title="Starttime">
            <ul>
            <li><a onclick="test('starttime','now');">Now</a></li>
            <li><a onclick="test('starttime','6am');">6 a.m.</a></li>
            <li><a onclick="test('starttime','noon');">Noon</a></li>
            <li><a onclick="test('starttime','midnight');">Midnight</a></li>
            </ul>
          </div>

          <div id="end_dialog" class='dialog' title="Endtime">
            <ul>
            <li><a onclick="test('endtime','now');">Now</a></li>
            <li><a onclick="test('endtime','6am');">6 a.m.</a></li>
            <li><a onclick="test('endtime','noon');">Noon</a></li>
            <li><a onclick="test('endtime','midnight');">Midnight</a></li>
            </ul>
          </div>

          <input type="hidden" name="go" value="1"/>
          <input type="submit" value="Go !" class="submit"/>

        </form>  
      </div>
      {% endif %}

      {% if not dialog %}

      {% ifequal type 'plot' %}
      <div id="sec_plots">

        {% for key,plot_list in statistics %}
          <div class="subsec_plots">
            <p>{{key}}</p>
            {% for subkey,urls in plot_list %}
              <p class="sub">{{subkey}}</p>
              {% for plot_title,url in urls %}
                <img src="{{url}}" alt="{{plot_title}}"/>
              {% endfor %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      {% endifequal %}

      {% ifequal type 'rank' %}
        <div id='sec_ranks'>
        <table>
          <thead>
            <tr>
              <th colspan='2'></th>
              {% for metric in metrics %}
                <th colspan='2'>{{metric.title}}</th>
              {% endfor %}
            </tr>
            <tr>
              <th colspan='2'></th>
              {% for metric in metrics %}
                <th>mean</th><th>std</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for key,values in statistics %}
              <tr><td rowspan='{{values|length|add:'1'}}'>{{key}}</td></tr>
              {% for title,valuelist in values %}
                <tr>
                  <td>{{title}}</td>
                  {% for mean,std in valuelist %}
                    <td>{{mean}}</td><td>{{std}}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th colspan='2'></th>
              {% for metric in metrics %}
                <th>mean</th><th>std</th>
              {% endfor %}
            </tr>
            <tr>
              <th colspan='2'></th>
              {% for metric in metrics %}
                <th colspan='2'>{{metric.title}}</th>
              {% endfor %}
            </tr>
          </tfoot>
        </table>
      </div>
      {% endifequal %}

      {% ifequal type 'timeline' %}
      <div id='sec_timelines'>
        <div id="visualization" style="width: 930px; height: 420px;"></div>
        <script language="JavaScript" type="text/javascript">
          <!--
          document.write('<div><ol id="chart_series" class="chart_series">{% for t in titles %}<li id="chart_{{ forloop.counter0 }}" class="ui-state-default{% if 'Overall' in t %} ui-selected{% endif %}">{{ t }}</li>{% endfor %}</ol></div>');
          //-->
        </script>
        <div style="clear:both;">
          Hold down the Ctrl key (cmd on MAC) to make multiple non-adjacent selections<br />Click over an element and drag the pointer for multiple adjacent selections
        </div>
      </div>          
      {% endifequal %}

      {% endif %}

  {% endif %}

  <div style="clear:both;"></div>
</div>

{% endblock %}
