body {
  color: #660000;#af4724;
}

h1,h2 {
  color: #660000;#af4724;
}

a {
  color: #660000;#af4724;
}

#menu-top {
  background-color: #660000;##af4724;
}

#jsddm li a {
  background-color: #660000;##af4724;
}

#jsddm li a:hover {
  background-color: #82351a;
}

#jsddm li ul li a {
  background-color: #660000;##af4724;
}

#jsddm li ul li a:hover {
  background-color: #82351a;
}

#bottom-bar {
  background-color: #660000;##af4724;
}

table.testlist thead th{
  color: #660000;
  border-bottom-color: #660000;
}

table.testlist tfoot th{
  color: #660000;
  border-color:#660000;
}

th:hover span{
  border-color: #660000;
}

td span.legend{
  border-color: #660000;
}

#content .testslist th{
  background-color: #660000;
}

.testlog a{
  color: #660000;
}

.more_plots a{
  color: #660000;
}

th:hover span {
  border-color: #660000;
  color: #660000;
}

table.display thead th{
  color:#660000;
  border-color:#660000;
}

table.display tfoot th{
  color:#660000;
  border-color:#660000;
}

#tabs a{
  color:#660000;
}

#.map td span{
#  border-color: #660000;
#}

