<script type="text/javascript">
  $(document).ready(function() {
    $('#{{type}}_table').dataTable({
      "sPaginationType": 'full_numbers',
      "bServerSide": true,
      "sAjaxSource": "{% url get_list-view app,type,test_id %}",
      "aaSorting" : [[ 0, "desc" ]],
    });
  });
</script>


<table cellpadding="0" cellspacing="0" border="0" class="display" id="testsummary_table">
  <thead>
  <tr>
    <th>Site<span>test Site name<br/>>site:value</span></th>
    <th>Total</th> 
  </thead>
  <tbody></tbody>
  <tfoot>
    <tr>
      <th>Site</th>
      <th>Total</th>
    </tr>
  </tfoot>
</table>
