{% extends 'core/app/base.html' %}

{% block content %}

  <div style="float: left;"><a href="javascript:history.go(-1)">&laquo; Back</a></div><br/>
  {% if jobtemplates %}
    <h2>JobTemplates ({{ jobtemplates|length }})</h2>
    <table class="list">
    {% for jobtemplate in jobtemplates %}
      <tr onmouseover="ChangeBiColor(this, true, {{ forloop.counter }}); this.style.cursor='hand';"
          onmouseout="ChangeBiColor(this, false, 0); this.style.cursor='default';">
        <td>{{ jobtemplate.id }}.-</td><td>{{ jobtemplate.path }}</td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <h2>JobTemplates</h2>
    No entries.
  {% endif %}

{% endblock %}
