<div id="accordionmetrics">
  {% for metric in test.perMetric %}
  <h3><a href="#">{{ metric.title }}</a></h3>
  <div class="test-accordion">
    {% for sm in metric.sites %}
      {% if sm.metric.url %}<img src="{{ sm.metric.url }}" alt="{{ metric.type }} at {{ sm.site }}" width="270px" />{% endif %}
    {% endfor %}
  </div>
  {% empty %}
    <h3>Metrics not available</h3>
  {% endfor %}
</div>

<script type="text/javascript">
  $("#accordionmetrics").accordion({autoHeight: false });
</script>
